#?delimiters <%,%>,<%=,%>
<% setXMLOutput() %>

<OutputParameters>
	<% if (unit["isAdjustable"] == "true") { %>  	  
		<OutputParameter name="mapCoordinates" label="Marker Coordinates"/>
	<% } %>
</OutputParameters>